<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lxn.utilone">

    <!-- 访问Internet -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- - 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 阅读短信 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!--允许读取手机状态的权限  -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--获取手机号码  -->
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>


    <!-- 二维码所需要的功能 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 允许访问摄像头进行拍照 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 允许访问闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 允许振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 拨打电话需要的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <!-- 指纹需要的权限 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>



    <application
        android:allowBackup="true"
        android:name=".UtilApplication"
        android:icon="@drawable/logo"
        tools:replace="android:name"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.Welcome"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--引导页-->
        <activity android:name=".activity.GuideActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <!--主页-->
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <!-- 登录的  处理输入法的弹出界面的影响-->
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:screenOrientation="fullSensor" >
        </activity>
        <!-- 选择图片-->
        <activity
            android:name=".activity.PhotoPickActivity"
            android:screenOrientation="fullSensor" >
        </activity>
        <!-- 找回密码 里面有短信验证码的功能-->
        <activity
            android:name=".activity.FindPasswordActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="fullSensor" >
        </activity>
        <!-- 嵌套网页的activity-->
        <activity
            android:name=".activity.TraceActivity"
            android:screenOrientation="fullSensor" >
        </activity>
        <!-- 自定义控件的使用demoactivity-->
        <activity
            android:name=".activity.CircularProgressBarDemoActivity"
            android:screenOrientation="fullSensor" />
        <!-- 自定义控件的使用demoactivity-->
        <activity
            android:name="com.lxn.utilone.tabfragmentdemo.IndicatorFragmentActivity"
            android:screenOrientation="fullSensor" >
        </activity>
        <!-- 搜索 android:exported="true"是否被其他app调用-->
        <activity
            android:name=".activity.SearchActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" >
        </activity>
        <!-- 商品详情页-->
        <activity
            android:name=".activity.ProductdeatilActivity"
            android:screenOrientation="fullSensor" >
        </activity>
        <!-- 二维码扫描界面 -->
        <activity
            android:name="com.zbar.lib.CaptureActivity"
            android:screenOrientation="fullSensor" >
        </activity>
        <!-- zxing二维码扫描界面 -->
        <activity
            android:name="com.zxing.activity.MipcaActivityCapture"
            android:screenOrientation="fullSensor" >
        </activity>




        <!-- 指纹识别的demo使用的activity -->
        <activity
            android:name="com.lxn.utilone.finger.FingerDemoActivity"
            android:screenOrientation="fullSensor" >
        </activity>





        <receiver
            android:name=".receiver.JpushReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.lxn.utilone" />
            </intent-filter>
        </receiver>


        <!--哆啦A梦 线上真实版本记得一定要去掉以下代码,dokit的所有功能只在开发环境中使用，千万不要带到线上-->
        <service
            android:name="com.didichuxing.doraemonkit.kit.colorpick.ScreenRecorderService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q" />
    </application>

</manifest>
